@charset "utf-8";
/* CSS Document */

form.Compact {
	position: relative;
	display: inline-block;
	margin: 0;
	margin-top: -0.25em;
	}

form.Compact div {
	position:relative;
	float:left;
	margin-right:3px;
	}

input {
	padding: 0;
	margin: 0;
	}

input[type="text"],
input[type="password"],
select {
	padding: 1px;
	/*background-image: url("img/forms/input.normal.png");
	background-repeat: repeat-x;*/
	background-color: #ffffff;
	border: 1px solid #999;
	/*ridiculous: 4 lines for rounded borders *sigh*  */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	behavior: url(../border-radius.htc);
	}

form.Compact input[type="text"],
form.Compact input[type="password"] {
	margin-top: 1px;
	width:7em;
	color: black;
	}

form.Compact label {
	position:absolute;
	font-size: 90%;
	top:0.4em;
	left:0.6em;
	z-index:1;
	color:#999;
	}

input.Error {
	background-image: url("img/forms/input.error.png");
	}

input.Active {
	background-image: url("img/forms/input.active.png");
	}
