@charset "utf-8";

/* header stripes etc */

#stripe_main {
	display: block;
	clear: both;
	background-image: url('img/gradients/header.png');
	background-repeat: repeat-x;
	background-color: #2f4964;
	width: 100%;
	height: 109px;
	}

#stripe_menu {
	position:absolute;
	top: 100px;
	}

#stripe_menu {
	padding: 0;
	margin: 0;
	display: block;
	position: absolute;
	left: 0;
	background-color: #343434;
	background-image: url('img/gradients/menubar.png');
	background-repeat: repeat-x;
	width: 100%;
	border-top: 1px solid #555;
	border-bottom: none;
	}

#logo_top {
	position: absolute;
	width: 400px;
	height: 124px;
	background-image: url('img/logo.png');
	background-repeat: no-repeat;
	top: 8px;
	left: 8px;
	}

#logo_bottom{
	position: absolute;
	width: 250px;
	height: 124px;
	background-image: url('img/logo.png');
	background-repeat: no-repeat;
	top: 8px;
	left: 8px;
	}

ul#menu {
	position: relative;
	left: 260px;
	}

ul#menu li {
	margin-right: 1px;
	}

ul#menu > li#login {
	border: none;
	margin: 0;
	padding-left: 0.4em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	}

ul#menu > li.ThisPage, ul#menu > li:hover {
	background-image: url('img/gradients/th.png');
	background-repeat: repeat-x;
	background-color: #416f9e;
	color: white;
	}

ul#menu > li.Disabled:hover {
	background: none;
	color: #999;
	}

ul#menu > li#login:hover {
	background: none;
	border-bottom: none;
	color: white;
	}

ul#menu li a {
	color: white;
	text-decoration: none;
	}

ul#menu li a:hover, ul#menu li:hover a {
	color: white;
	}

ul#menu li.Disabled a {
	color: #999;
	border: none;
	}

#announcement_bar {
	display: block;
	position: absolute;
	left: 4px;
	top: 92px;
	height: 44px;
	width: 200px;
}

#announcement_bar a {
	position: absolute;
	top: 15px;
	left: 48px;
	color: #fff;
	font-size: 70%;
	text-decoration: underline;
}
